<h2></h2>
<div class="row">
    <div class="col-md-5">
        <h3>Matrix A</h3>
        <div id="jqGridLeft_container">
            <table id="jqGridLeft"></table>
        </div>
        <table class="tableMatrix">
            <tr>
                <td>
                    <button type="button" class="btn btn-default btn-block">
                        <strong>0</strong>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-block">
                        <strong>E</strong>
                    </button>
                </td>
                <td>

                        <label class="col-xs-3 control-label hidden-xs">Rank</label>
                        <div class="col-md-9">
                            <select class="form-control" >
                                <option>2</option>
                                <option selected>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            </div>
                
                        @*<input type="number" min="2" max="5" value="3">*@
</td>
            </tr>
            <tr>
                <td colspan="2"><button type="button" class="btn btn-primary btn-block"><strong>Обратить</strong></button></td>

                <td></td>
            </tr>
            <tr>
                <td colspan="2"><button type="button" class="btn btn-primary btn-block"><strong>Транспонировать</strong></button></td>

                <td></td>
            </tr>
            <tr>
                <td colspan="2"><button type="button" class="btn btn-primary btn-block"><strong>Умножить на</strong></button></td>
                <td>

                    <div class="col-sm-6">
                        <input class="form-control" type="number">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-2 operations">
        <h3>Operations</h3>
        <p>
            <button type="button" class="btn btn-primary btn-block"><strong>+</strong></button>
        </p>
        <p>
            <button type="button" class="btn btn-primary btn-block"><strong>-</strong></button>
        </p>
        <p>
            <button type="button" class="btn btn-primary btn-block"><strong>*</strong></button>
        </p>
        <p>
            <button type="button" class="btn btn-primary btn-block"><strong>/</strong></button>
        </p>
        <p>
            <button type="button" class="btn btn-default btn-block">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </button>
        </p>
        <p>
            <button type="button" class="btn btn-default btn-block">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </button>
        </p>
        <p>
            <button type="button" class="btn btn-default btn-block">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </button>
        </p>
    </div>
    <div class="col-md-5">
        <h3>Matrix B</h3>
        <div id="jqGridRight_container">
            <table id="jqGridRight"></table>
        </div>
        <table class="tableMatrix">
            <tr>
                <td>
                    <button type="button" class="btn btn-default btn-block">
                        <strong>0</strong>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-block">
                        <strong>E</strong>
                    </button>
                </td>
                <td>

                    <label class="col-xs-3 control-label hidden-xs">Rank</label>
                    <div class="col-md-9">
                        <select class="form-control">
                            <option>2</option>
                            <option selected>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="button" class="btn btn-primary btn-block"><strong>Обратить</strong></button></td>

                <td></td>
            </tr>
            <tr>
                <td colspan="2"><button type="button" class="btn btn-primary btn-block"><strong>Транспонировать</strong></button></td>

                <td></td>
            </tr>
            <tr>
                <td colspan="2"><button type="button" class="btn btn-primary btn-block"><strong>Умножить на</strong></button></td>
                <td>
                <div class="col-sm-6">
                    <input class="form-control" type="number">
                    </div></td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h3>Result Matrix</h3>
        <div id="jqGridResult_container">
            <table id="jqGridResult"></table>
        </div>
        <button type="button" class="btn btn-default pull-left">
            <strong>A</strong>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            <strong>B</strong>
        </button>
    </div>
    <div class="col-md-4">

    </div>
</div>


@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $("#jqGridLeft").jqGrid({
            url: '@Url.Action("GetData")',
            datatype: "json",
            //colNames: ['1', '2', '3'],
            colModel: [
                {
                    //index: '1',
                    //width: 50,
                    editable: true,
                    edittype: "text",
                    editrules: { number: true }
                },
                {
                    //index: '2',
                    //width: 50,
                    editable: true,
                    edittype: "text",
                    editrules: { number: true}
                },
                {
                    //index: '3',
                    //width: 50,
                    editable: true,
                    edittype: "text",
                    editrules: { number: true }
                },

            ],
            rowNum: 3,
            loadonce:true, // загрузка только один раз
            cellEdit: true,
            cellsubmit: "clientArray",
            height: "auto",
            width: null,
            shrinkToFit: false
        });

        $("#jqGridRight").jqGrid({
            url: '@Url.Action("GetData")',
            datatype: "json",
            //colNames: ['1', '2', '3'],
            colModel: [
                {
                    //index: '1',
                    //width: 50,
                    editable: true,
                    edittype: "text",
                    editrules: { number: true }
                },
                {
                    //index: '2',
                    //width: 50,
                    editable: true,
                    edittype: "text",
                    editrules: { number: true}
                },
                {
                    //index: '3',
                    //width: 50,
                    editable: true,
                    edittype: "text",
                    editrules: { number: true }
                },
            ],
            rowNum: 3,
            loadonce:true, // загрузка только один раз
            cellEdit: true,
            cellsubmit: "clientArray",
            height: "auto",
            width: null,
            shrinkToFit: false
        });

        $("#jqGridResult").jqGrid({
            url: '@Url.Action("GetData")',
            datatype: "json",
            //colNames: ['1', '2', '3'],
            colModel: [
                {
                    //index: '1',
                    //width: 50,
                    editable: true,
                    edittype: "text",
                    editrules: { number: true }
                },
                {
                    //index: '2',
                    //width: 50,
                    editable: true,
                    edittype: "text",
                    editrules: { number: true}
                },
                {
                    //index: '3',
                    //width: 50,
                    editable: true,
                    edittype: "text",
                    editrules: { number: true }
                },
            ],
            rowNum: 3,
            loadonce:true, // загрузка только один раз
            //cellEdit: true,
            cellsubmit: "clientArray",
            height: "auto",
            width: null,
            shrinkToFit: false

        });

        var widthLeft = $('#jqGridLeft_container').width();
        $('#jqGridLeft').width(widthLeft - 6);
        var widthRight = $('#jqGridRight_container').width();
        $('#jqGridRight').width(widthRight - 6);
        var widthResult = $('#jqGridResult_container').width();
        $('#jqGridResult').width(widthResult - 6);

        $(window).bind('resize', function () {
            //$('#jqGridLeft').setGridWidth(width);
            var widthLeft = $('#jqGridLeft_container').width();
            $('#jqGridLeft').width(widthLeft - 6);
            var widthRight = $('#jqGridRight_container').width();
            $('#jqGridRight').width(widthRight - 6);
            var widthResult = $('#jqGridResult_container').width();
            $('#jqGridResult').width(widthResult - 6);
        });

        $('.ui-jqgrid-hdiv').hide();
    });
    </script>
}
